:root {
  --primary: #ca2535;
  --bg-color: white;
  --bg-off-white: #f1e9e7;
  --text-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
